*{
    box-sizing: border-box;
}
.first{
    padding-top: 10px;
}

h1{
    color: blue;
    margin-top: 0;
    font-size: 45px;
}
fieldset{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
    border-radius: 5px;
}
ul li a{
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 410px){
    fieldset{
        width: 300px;
    }
}